In [2]:
import pandas as pd
import numpy as np

In [3]:

'''
data = {

    "Names":["Bob", "Fred", "Bill", "Jerry"],
    "Age":[50, 30, 40, 65]

}
'''

data = pd.read_json('data.json')

df = pd.DataFrame(data)

print(df.loc[[0, 1, 2, 3, 4]]) #get rows 0, 1, 2, 3, 4

    Name  Age
0    Bob   50
1   Fred   20
2   Bill   60
3  Jimmy   70
4    Tom    0

In [5]:
#ANIMAL SOUND IDK

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('animalSounds.csv')
df.index = ['row1', 'row2', 'row3', 'row4', 'row5', 'row6', 'row7', 'row8', 'row9']
#df.aggregate(1)
df.drop(index = 'row1')
df[2:8]

#print(df.head())

       Animal   Noise
row3     Bird   chirp
row4      Pig    oink
row5     Wolf    awoo
row6      Cow     moo
row7     Bear   growl
row8  Chicken  bokbok